block content
html.html_class(onclick="location.reload();") 
  meta(name="referrer" content="no-referrer")
  //- body
  body.body_class(style="background:url('#{data.long_photo}') no-repeat;background-size:cover;background-attachment: fixed;background-repeat:no-repeat;")

      //- 上边搜索框dev
      dev
        ul
          li
            a 关注
          li
            a 推荐
          li
            a 搜索

      //- br

      //- 中间内容框
      //- 诗歌内容 
      br
      br
      br
      dev
        p
          font(face="隶书" size="7" style="color:white;")  &nbsp;&nbsp;!{data.content}
      br
      //- 诗歌来自和作者
      dev(align="right" style="")
        p
          //- white
          font(face="隶书" size="7" style="color:white;" ) --出自&nbsp;#{data.content_from}&nbsp;&nbsp;&nbsp;&nbsp;#{data.author}

      //- dev
      //- 右边详情框（用户头像，喜欢数量，评论数量，转发）

      //- dev   
      //- 下边切换框（首页，收藏，喜欢，历史，上传，用户）

      //- 背景图片 解决跨域
      //- img(src='#{data.long_photo}' referrerpolicy="no-referrer" style="width: 100%;height: 100%;object-fit:cover;z-index:-1;")

    
